{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div style="width: 100%; overflow-x: auto;">
        <h1>Projects</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Last validated event datetime</th>
                    <th>Validation page</th>
                    <th>Validation guide link</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in projects %}
                    <tr>
                        <td>
                            <a href="{% url 'project-detail' slug=obj.slug %}">
                                {{ obj.name }}
                            </a>
                        </td>
                        <td>{{ obj.event_set.last_validated_event_datetime }}</td>
                        <td><a href="{{ obj.get_validation_page_url }}" target="_blank">Page Link</a></td>
                        <td>
                            <a href="{{ obj.validation_guide_link }}" target="_blank">
                                Guide Link
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
