{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div style="width: 100%; overflow-x: auto;">
        <h1>Projects</h1>
        <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last validated event datetime</th>
                <th>Validation Page</th>
                <th>Validation Guide Link</th>
            </tr>
            </thead>
            <tbody>
                {% for obj in projects %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td><a href="{% url 'project-detail' pk=obj.slug %}">{{ obj.name }}</a></td>
                        <td>{{ obj.event_set.last_validated_event_datetime }}</td>
                        <td>validation page link</td>
                        <td>{{ obj.validation_guide_link }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
